<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{asset_urls.logo_png}}" type="image/png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>OTP - BlueLabs</title>
  </head>

  <body>
    <section class="h-screen bg-black">
      <div class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0">
        <img class="h-28" src="{{asset_urls.logo_name_dark}}" alt="BlueLabs" />
        <div class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0">
          <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl">Account Created.</h1>
            <a type="submit" href="/" class="mb-4 mt-4 w-full rounded-lg bg-green-500 pb-2 pt-2 text-center text-white">Login</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>